* {
    color: #FFF;
    background-color: #363E4A;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#view-results {
    float: right;
    margin: 1% 10% 0 0;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(36, 214, 166, .7);
}
#view-results:hover {
    background-color: rgba(36, 214, 166, .9);
}
.center-form {
    clear: both;
    display: block;
    text-align: center;
}
h1 {
    font-size: 2.5em;
}
table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(36, 214, 166, .7);
    border-radius: 10px;
    padding: 10px;
}
table input {
    display: block;
    margin: auto;
}
th, td {
    padding: 0px 10px 0px 10px;
    background-color: rgba(36, 214, 166, .7);
    color: #171a1e;
}
input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    outline: none;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

/*input[type="radio"]::before {
  content: "\2022";
    color: rgba(36, 214, 166, 1);
    font-size: 30px;
    margin-left: 3px;
    line-height: 23px;
}*/

input[type="radio"]:checked {
    /*background-color: #171a1e;*/
    background-color: #555;
}
button {
    border: 5px solid #777;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(36, 214, 166, .7);
    padding: 10px;
    font-size: 1em;
    outline: none;
}
button:hover {
    border: 5px solid #999;
    background-color: rgba(36, 214, 166, .9);
}
button:active {
    border: 5px solid #555;
    background-color: rgba(36, 214, 166, .5);
}
textarea {
    margin-top: 20px;
    background-color: white;
    font-size: 1em;
    color: #171a1e;
}
.results-wrapper {
    margin-top: 5%;
}
.results-wrapper p, .results-wrapper h1 {
    text-align: center;
}
.results-table tr {
    text-align: center;
}
#taken-message {
    font-size: 1em;
}
